@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Montserrat:wght@300&display=swap');

body{
    margin: 0;
    background: #162666;
}

#main-container{
    position: relative;
    margin: 50px;
    min-height: 300px;
}

#main{
    position: absolute;
    width: 67%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    min-height: 300px;
}

h1{
    color: #c70000;
    font-size: 2.5rem;
}

#stopwatch-container{
    background-color: #020b2e;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    align-self: center;
    padding: 20px 0 0 0;
}
#stopwatch-count{
    color: white;
    font-size: xx-large;
    text-align: center;
    
}

/* CSS for position of hour min sec msec : Start*/




/* CSS for position of hour min sec msec : End*/

button{
    background: #c70000;
    border: none;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}


#aside{
    position: relative;
    width: 30%;
    float: right;
    text-align: center;
}
#current-lap-detail{
    background:#020b2e;
    padding: 10px;
    border-radius: 20px;
    min-height: 300px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
table{
    width: 100%;
}
thead{
    color: #c70000;
    font-size: large;
}
@media only screen and (max-width: 900px) {
    #main{
        position: relative;
        width: 90%;
    }
    #aside{
        margin-top: 20px;
        position: relative;
        width: 91%;
        float: none;
    }
    thead{
        color: #c70000;
        font-size: x-large;
    }
    tbody{
        font-size: large;
    }
}

#lap-conatiner-list{
    display: flex;
    flex-direction: row;
    margin: 50px;
    flex-wrap: wrap;
}


.lap-link{
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin: 15px;
}

.lap-container{
    background:#020b2e;
    text-align: -webkit-center;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    position: relative;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lap-text-click{
    margin-top: 32%;
    position: absolute;
    font-size: x-large;
    left: 36px;
    color: #c70000;
}
.lap-text{
    margin-top: 44%;
    position: absolute;
    font-size: x-large;
    left: 67px;
    border-bottom: 1px solid #c70000;
}